@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  background-color: #000000;
  color: #fcfbfc;
  font-family: "Chakra Petch", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}
.nav-right {
  height: 100%;
}
.nav-right-top {
  border-left: 1px solid #8892b0;
  height: 22.5%;
  width: 50%;
}
.nav-right-bottom {
  border-left: 1px solid #8892b0;
  height: 22.5%;
  width: 50%;
}
.nav-left {
  border-right: 1px solid #8892b0;
  height: 100%;
}
.social-icon,
.social-icon-nav {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.social-icon-nav:hover {
  stroke: "#0579C3" !important;
  transform: scale(1.2);
}
.social-icon:hover {
  stroke: "#0579C3" !important;
  transform: scale(1.05);
}
.kite {
  transform: rotate(45deg);
}
.kite:hover {
  transition: all 0.4s ease-in;
  transform: rotate(225deg) scale(1.2);
}
.main-btn:active {
  background-color: #ffffff30;
  outline: none;
}
.main-btn:before {
  background-color: #0579c320;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  transition: right 0.65s ease-out;
}
.main-btn:hover:before {
  right: 0;
}
.proj-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.loading-img {
  width: 175px;
  position: absolute;
  top: -100px;
  transform: rotateZ(70deg);
}
.avatar:hover {
  cursor: pointer;
  transition: all 0.25s ease-in;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .full-h {
    height: 100vh;
  }
  .nav-right-top {
    height: 17.5%;
  }
  .nav-right-bottom {
    border-left: 1px solid #8892b0;
    height: 17.5%;
    width: 50%;
  }
}
