@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    background-color: #2C3539;
    color: #FCFBFC;
    font-family: 'Chakra Petch', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html {
scroll-behavior: smooth;
}
.nav-right-top {
    border-left: 1px solid #8892b0;
    height: 22.5%;
    width: 50%;
}
.nav-right-bottom {
    border-left: 1px solid #8892b0;
    height: 22.5%;
    width: 50%;
}
.nav-left {
    border-right: 1px solid #8892b0;
}
.social-icon {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.social-icon:hover {
    stroke: '#0579C3' !important;
}
.kite {
    transform: rotate(45deg);
}
.kite .active {
    transform: rotate(180deg);
}
.main-btn{

}
.main-btn:active {
    background-color: #ffffff30;
    outline: none;
}
.main-btn:before {
    background-color: red;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    transition: right 0.55s ease-out;
}
.main-btn:hover:before {
    right: 0;
}